@import "../../assets/styles/global";

.text__block {
  margin-bottom: 10px;

  p {
    @include text;
  }

  h2 {
    @include titleH3;
    margin: 15px 0 10px 0;
  }

  @include link-bold;

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 10px;
  }
}