.text__block {
  margin-bottom: 50px;

  p {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #606268;
  }
}
