.courses__list {
  margin-bottom: 130px;

  .list__content {
    .list__header {
      display: flex;
      align-items: center;
      margin-bottom: 70px;

      h1.header__title {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0.005em;
        color: #23262d;
      }
    }

    .list__menu {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 -15px;

      .course__card {
        width: 22.6%;
        margin: 0 15px;
        margin-bottom: 30px;
      }
    }
  }
}
