@import "../../../../assets/styles/global";

.courses__list {
  margin-bottom: 160px;

  .list__content {
    position: relative;

    .header__banner {
      position: absolute;
      transform: rotate(-90deg);
      top: 200px;
      left: -440px;
      right: auto;

      .banner__text {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 130px;
        line-height: 156px;
        color: transparent;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        opacity: 0.06;
        -webkit-text-stroke: 2px $black-color;
      }
    }

    .list__header {
      display: flex;
      align-items: center;
      margin-bottom: 70px;

      h1.header__title {
        @include titleH1;
      }
    }

    .list__menu {
      @include grid-menu;
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .list__content {
      .header__banner {
        top: -65px;
        left: auto;
        transform: rotate(0);
        right: -15px;
      }
    }
  }

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 100px;

    .list__content {
      .header__banner {
        display: none;
      }

      .list__header {
        margin-bottom: 50px;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    margin-bottom: 60px;

    .list__content {
      .list__header {
        margin-bottom: 30px;
      }
    }
  }
}
