@import "../../../../assets/styles/global";

.about__main {
  margin-bottom: 80px;

  .main__content {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;

    .header__banner {
      display: block;
      position: absolute;
      transform: rotate(-90deg);
      top: 110px;
      left: -355px;

      .banner__text {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 130px;
        line-height: 156px;
        color: transparent;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        opacity: 0.06;
        -webkit-text-stroke: 2px $black-color;
      }
    }

    .content__left {
      width: 100%;
      margin-right: 15px;
      padding-right: 90px;

      h1.main__title {
        @include titleH1;

        margin-bottom: 50px;
      }

      p.left__text {
        @include text;

        margin-bottom: 30px;

        span.left__text {
          margin-top: 0px;
          display: inline;
        }

        & span.text--outlined {
          color: $red-color;
          font-weight: 700;
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .content__right {
      width: 100%;
      margin-left: 15px;
      margin-top: 110px;

      .right__img {
        width: 600px;
        height: 415px;
        font-size: 0;
        line-height: 0;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .main__content {
      .header__banner {
        display: none;
      }

      .content__left {
        padding: 0;

        h1.main__title {
          margin-bottom: 30px;
        }

        p.left__text {
          margin-bottom: 30px;

          span.left__text {
            margin-top: 26px;
          }

          & span.text--outlined {
            margin-bottom: 0;
          }
        }
      }

      .content__right {
        margin-top: 0;

        .right__img {
          width: 100%;
          height: 500px;
        }
      }
    }

    margin-bottom: 80px;
  }

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 50px;

    .main__content {
      flex-wrap: wrap;

      .content__left {
        margin-right: 0;
        padding-right: 0;
        order: 2;

        h1.main__title {
          margin-bottom: 0;
          position: absolute;
          top: 0;
        }

        p.left__text {
          span.left__text {
            margin-top: 0px;
          }

          & span.text--outlined {
            margin-bottom: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .content__right {
        margin-left: 0;
        order: 1;
        margin-bottom: 40px;
        margin-top: 80px;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    margin-bottom: 40px;

    .main__content {
      .content__right {
        margin-top: 65px;
        margin-bottom: 30px;

        .right__img {
          height: 290px;
        }
      }
    }
  }
}
