.about__main {
  margin-bottom: 80px;

  h1.main__title {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.005em;
    color: #23262d;
    margin-bottom: 30px;
  }

  .main__content {
    display: flex;
    flex-grow: 1;
    position: relative;

    .header__banner {
      display: none;
    }

    .content__left {
      width: 100%;
      margin-right: 15px;

      p.left__text {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #606268;
        margin-bottom: 30px;

        span.left__text {
          margin-top: 26px;
          display: block;
        }

        & span.text--outlined {
          color: #e36f59;
          font-weight: 700;
          margin-bottom: 0;
        }
      }
    }

    .content__right {
      width: 100%;
      margin-left: 15px;

      .right__img {
        width: 100%;
        font-size: 0;
        line-height: 0;
        height: 500px;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media (max-width: 1919px) {
    margin-bottom: 80px;

    .main__content {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      position: relative;

      .header__banner {
        display: block;
        position: absolute;
        transform: rotate(-90deg);
        top: 110px;
        left: -355px;

        .banner__text {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 900;
          font-size: 130px;
          line-height: 156px;
          color: transparent;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          opacity: 0.06;
          -webkit-text-stroke: 2px #23262d;
        }
      }

      .content__left {
        width: 100%;
        margin-right: 15px;
        padding-right: 90px;

        h1.main__title {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 72px;
          letter-spacing: 0.005em;
          color: #23262d;
          margin-bottom: 50px;
        }

        p.left__text {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.01em;
          color: #606268;
          margin-bottom: 26px;

          span.left__text {
            margin-top: 0px;
            display: inline-block;
          }

          & span.text--outlined {
            display: block;
            color: #e36f59;
            font-weight: 700;
            margin-bottom: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .content__right {
        width: 100%;
        margin-left: 15px;

        .right__img {
          width: 600px;
          height: 415px;
          font-size: 0;
          line-height: 0;
          border-radius: 8px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  @media (max-width: 1229px) {
    margin-bottom: 50px;

    .main__content {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      flex-grow: 1;
      position: relative;

      .header__banner {
        display: none;
      }

      .content__left {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        order: 2;

        h1.main__title {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 50px;
          letter-spacing: 0.005em;
          color: #23262d;
          margin-bottom: 0;
          position: absolute;
          top: 0;
        }

        p.left__text {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.01em;
          color: #606268;
          margin-bottom: 26px;

          span.left__text {
            margin-top: 0px;
            display: inline-block;
          }

          & span.text--outlined {
            display: inline;
            color: #e36f59;
            font-weight: 700;
            margin-bottom: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .content__right {
        width: 100%;
        margin-left: 0;
        order: 1;
        margin-bottom: 40px;
        margin-top: 80px;

        .right__img {
          width: 100%;
          height: 415px;
          font-size: 0;
          line-height: 0;
          border-radius: 8px;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
