.support__main {
  margin-bottom: 213px;

  .main__content {
    display: flex;
    flex-grow: 1;
    position: relative;

    .header__banner {
      position: absolute;
      transform: rotate(-90deg);
      top: 100px;
      left: -455px;
      z-index: -1;

      .banner__text {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 130px;
        line-height: 156px;
        color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        opacity: 0.06;
        -webkit-text-stroke: 2px #23262d;
      }
    }

    .main__banner {
      position: absolute;
      top: 41.8%;
      left: 25%;
      z-index: -1;

      .banner__text {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 130px;
        line-height: 156px;
        color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        opacity: 0.06;
        -webkit-text-stroke: 2px #23262d;
      }
    }

    .content__left {
      padding-right: 0px;
      margin-right: 15px;

      h1.left__title {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0.005em;
        color: #23262d;
        margin-bottom: 71px;
      }

      p.left__description {
        max-width: 720px;
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #23262d;
        margin-bottom: 115px;
      }

      .left__buttons {
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;

        .button__link {
          border: none;
          background: none;
          outline: none;
          font-size: 0;
          line-height: 0;
          margin-right: 10px;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }

    .content__right {
      width: 50%;
      margin-left: 15px;
    }
  }

  @media (max-width: 1697px) {
    margin-bottom: 125px;

    .main__content {
      display: flex;
      flex-grow: 1;
      position: relative;

      .header__banner {
        position: absolute;
        transform: rotate(-90deg);
        top: 100px;
        left: -455px;
        z-index: -1;

        .banner__text {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 900;
          font-size: 130px;
          line-height: 156px;
          color: transparent;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          opacity: 0.06;
          -webkit-text-stroke: 2px #23262d;
        }
      }

      .main__banner {
        position: absolute;
        top: 41.8%;
        left: 25%;
        z-index: -1;

        .banner__text {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 900;
          font-size: 130px;
          line-height: 156px;
          color: transparent;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          opacity: 0.06;
          -webkit-text-stroke: 2px #23262d;
        }
      }

      .content__left {
        padding-right: 60px;
        margin-right: 15px;

        h1.left__title {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 72px;
          letter-spacing: 0.005em;
          color: #23262d;
          margin-bottom: 30px;
        }

        p.left__description {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.01em;
          color: #23262d;
          margin-bottom: 121px;
        }

        .left__buttons {
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;

          .button__link {
            border: none;
            background: none;
            outline: none;
            font-size: 0;
            line-height: 0;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
          }
        }
      }

      .content__right {
        width: 50%;
        margin-left: 15px;
      }
    }
  }
}
