@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1230px;
  margin: auto;
}

.MuiPaper-elevation {
  .filter__item {
    display: flex;
    justify-content: space-between;

    .item__icon--button {
      position: relative;
      color: rgba($color: #000000, $alpha: 0.6);
      cursor: pointer;
      z-index: 3;

      &:hover{
        color: red;
      }
    }
  }
}
