.programming__img3 {
  .img__container {
    width: 276px;
    height: 214px;
    position: relative;

    .layer {
      width: 100%;
      height: 214px;
      position: absolute;

      .prog3Background {
        width: 264.7px;
        height: 203.7px;
        margin-top: 1px;
        margin-left: 11.3px;
      }

      .prog3Flower {
        width: 99.5px;
        height: 108.9px;
        margin-top: 104.3px;
        margin-left: 0px;
      }

      .prog3Man {
        width: 113.4px;
        height: 179.5px;
        margin-top: 34px;
        margin-left: 106.7px;
      }

      .prog3Dotline {
        width: 187px;
        height: 38.6px;
        margin-top: 15.6px;
        margin-left: 48.4px;
      }

      .prog3Json {
        width: 38.8px;
        height: 38.7px;
        margin-top: 11.3px;
        margin-left: 63.5px;
      }

      .prog3Html {
        width: 24.9px;
        height: 24.7px;
        margin-top: 51px;
        margin-left: 34.6px;
      }

      .prog3Cplus {
        width: 27.5px;
        height: 27.3px;
        margin-top: 13.4px;
        margin-left: 183.4px;
      }

      .prog3Css {
        width: 30px;
        height: 30px;
        margin-top: 0px;
        margin-left: 123px;
      }

      .prog3CH {
        width: 33px;
        height: 33px;
        margin-top: 39.5px;
        margin-left: 217px;
      }

      .prog3Table {
        width: 199px;
        height: 100.7px;
        margin-top: 112.5px;
        margin-left: 44px;
      }

      .prog3Laptop {
        width: 71.5px;
        height: 29.4px;
        margin-top: 82.4px;
        margin-left: 79.5px;
      }

      .prog3Vector {
        width: 267.8px;
        height: 0.3px;
        margin-top: 213.2px;
        margin-left: 8px;
        background: #263238;
      }
    }
  }

  @media (max-width: 1919px) {
    .img__container {
      width: 396px;
      height: 307px;
      position: relative;

      .layer {
        width: 100%;
        height: 307px;
        position: absolute;

        .prog3Background {
          width: 379.7px;
          height: 292.3px;
          margin-top: 1px;
          margin-left: 16px;
        }

        .prog3Flower {
          width: 142.8px;
          height: 156px;
          margin-top: 149.6px;
          margin-left: 0px;
        }

        .prog3Man {
          width: 162.6px;
          height: 257.5px;
          margin-top: 49px;
          margin-left: 153px;
        }

        .prog3Dotline {
          width: 268.4px;
          height: 55.4px;
          margin-top: 22.4px;
          margin-left: 69.4px;
        }

        .prog3Json {
          width: 55.7px;
          height: 55.5px;
          margin-top: 16px;
          margin-left: 91px;
        }

        .prog3Html {
          width: 35.6px;
          height: 35.4px;
          margin-top: 73.3px;
          margin-left: 49.6px;
        }

        .prog3Cplus {
          width: 39.4px;
          height: 39.2px;
          margin-top: 19px;
          margin-left: 263px;
        }

        .prog3Css {
          width: 43px;
          height: 43px;
          margin-top: 0px;
          margin-left: 176.8px;
        }

        .prog3CH {
          width: 47.5px;
          height: 47.3px;
          margin-top: 56.7px;
          margin-left: 311.3px;
        }

        .prog3Table {
          width: 285.5px;
          height: 144.5px;
          margin-top: 161.4px;
          margin-left: 63px;
        }

        .prog3Laptop {
          width: 102.6px;
          height: 42.2px;
          margin-top: 118.3px;
          margin-left: 114px;
        }

        .prog3Vector {
          width: 384px;
          height: px;
          margin-top: 304.5px;
          margin-left: 11.3px;
          background: #263238;
        }
      }
    }
  }

  @media (max-width: 1229px) {
    .img__container {
      width: 180px;
      height: 139.55px;
      position: relative;

      .layer {
        width: 100%;
        height: 139.55px;
        position: absolute;

        .prog3Background {
          width: 172.6px;
          height: 132.9px;
          margin-top: 0.5px;
          margin-left: 7.4px;
        }

        .prog3Flower {
          width: 64.9px;
          height: 71px;
          margin-top: 68px;
          margin-left: 0px;
        }

        .prog3Man {
          width: 73.9px;
          height: 117px;
          margin-top: 22.2px;
          margin-left: 69.6px;
        }

        .prog3Dotline {
          width: 122px;
          height: 25.1px;
          margin-top: 10.16px;
          margin-left: 31.5px;
        }

        .prog3Json {
          width: 25.3px;
          height: 25.2px;
          margin-top: 7.35px;
          margin-left: 41.4px;
        }

        .prog3Html {
          width: 16.2px;
          height: 16.1px;
          margin-top: 33.3px;
          margin-left: 22.5px;
        }

        .prog3Cplus {
          width: 17.9px;
          height: 17.8px;
          margin-top: 8.7px;
          margin-left: 119.6px;
        }

        .prog3Css {
          width: 19.6px;
          height: 19.5px;
          margin-top: 0px;
          margin-left: 80.3px;
        }

        .prog3CH {
          width: 21.6px;
          height: 21.5px;
          margin-top: 25.8px;
          margin-left: 141.5px;
        }

        .prog3Table {
          width: 129.7px;
          height: 65.7px;
          margin-top: 73.35px;
          margin-left: 28.6px;
        }

        .prog3Laptop {
          width: 46.6px;
          height: 19.2px;
          margin-top: 73.3px;
          margin-left: 28.6px;
        }

        .prog3Vector {
          width: 174.6px;
          height: 0.23px;
          margin-top: 139px;
          margin-left: 5.1px;
          background: #263238;
        }
      }
    }
  }
}
