.articleslider {
  .mySwiper {
    padding-bottom: 120px;

    .swiper-pagination-bullet {
      margin: 0 5px !important;
      background: #e36f59;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 14px;
      height: 14px;
      border: 1px solid #e36f59;
      background: #fff;
      margin-bottom: -4px !important;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background: #e36f59;
        border-radius: 50%;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 50px !important;
      top: auto;
      bottom: 10px;
      z-index: 11;
      background: url(../../../../assets/arrowLeft.svg);
      background-repeat: no-repeat;
      background-position: 0 50%;

      &::after {
        opacity: 0;
      }

      &:hover::before {
        position: absolute;
        right: -15px;
        content: "" !important;
        display: block !important;
        width: 53px !important;
        height: 53px !important;
        border-radius: 50% !important;
        border: 2px solid #e36f59 !important;
        background: transparent !important;
      }
    }

    .swiper-button-prev {
      left: 20px;
      background-position: center;
      &:hover {
        left: 15px;
        background: url(../../../../assets/arrowRight.svg);
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        background-position: 0 50%;
      }
    }

    .swiper-button-next {
      right: 20px;
      transform: rotate(180deg);
      background-position: center;
      &:hover {
        right: 15px;
        background: url(../../../../assets/arrowRight.svg);
        transform: rotate(0deg);
        background-repeat: no-repeat;
        background-position: center;
        background-position: 0 50%;
      }
    }

    .swiper-pagination {
      bottom: 23px;
    }
  }
}
