.programming__img1 {
  .img__container {
    width: 346px;
    height: 334px;
    position: relative;

    .layer {
      width: 100%;
      height: 334px;
      position: absolute;

      .prog1Screen1 {
        width: 95px;
        height: 63px;
        margin-top: 63px;
        margin-left: 38px;
      }

      .prog1Screw {
        width: 50px;
        height: 66px;
        margin-top: 25px;
        margin-left: 289px;
      }

      .prog1Screen2 {
        width: 39px;
        height: 31px;
        margin-top: 0;
        margin-left: 242px;
      }

      .prog1Screen3 {
        width: 90px;
        height: 37px;
        margin-top: 15px;
        margin-left: 116px;
      }

      .prog1Vector {
        width: 340px;
        height: 0.5px;
        margin-top: 313px;
        margin-left: 6px;
        background: #263238;
      }

      .prog1Screens {
        width: 125px;
        height: 101px;
        margin-top: 78px;
        margin-left: 192px;
      }

      .prog1Php {
        width: 46px;
        height: 32px;
        margin-top: 17px;
        margin-left: 46px;
      }

      .prog1Html {
        width: 41px;
        height: 29px;
        margin-top: 139px;
        margin-left: 292px;
      }

      .prog1Screen4 {
        width: 30px;
        height: 21px;
        margin-top: 139px;
        margin-left: 25px;
      }

      .prog1Css {
        width: 50.6px;
        height: 33px;
        margin-top: 38.5px;
        margin-left: 193px;
      }

      .prog1Man {
        width: 159px;
        height: 252px;
        margin-top: 82px;
        margin-left: 98px;
      }

      .prog1Flower {
        width: 44px;
        height: 87.5px;
        margin-top: 225.6px;
        margin-left: 0;
      }

      .prog1Monitor {
        width: 18.4px;
        height: 74px;
        margin-top: 123.6px;
        margin-left: 269.6px;
      }

      .prog1Computer {
        width: 82px;
        height: 110px;
        margin-top: 203px;
        margin-left: 259px;
      }

      .prog1Mouse {
        width: 40.6px;
        height: 48.5px;
        margin-top: 181px;
        margin-left: 250.4px;
      }

      .prog1Computer2 {
        width: 44px;
        height: 109px;
        margin-top: 204px;
        margin-left: 48.7px;
      }

      .prog1Monitor2 {
        width: 78px;
        height: 66.4px;
        margin-top: 132px;
        margin-left: 50px;
      }

      .prog1Table {
        width: 242px;
        height: 118px;
        margin-top: 195px;
        margin-left: 57.5px;
      }
    }
  }

  @media (max-width: 1697px) {
    .img__container {
      width: 260px;
      height: 251px;
      position: relative;

      .layer {
        width: 100%;
        height: 251px;
        position: absolute;

        .prog1Screen1 {
          width: 72px;
          height: 48.2px;
          margin-top: 47.7px;
          margin-left: 28.4px;
        }

        .prog1Screw {
          width: 37.7px;
          height: 50px;
          margin-top: 18.7px;
          margin-left: 217.3px;
        }

        .prog1Screen2 {
          width: 29.5px;
          height: 23.8px;
          margin-top: 0;
          margin-left: 181.8px;
        }

        .prog1Screen3 {
          width: 67.4px;
          height: 27.6px;
          margin-top: 11.3px;
          margin-left: 87.4px;
        }

        .prog1Vector {
          width: 255.4px;
          height: 0.34px;
          margin-top: 236px;
          margin-left: 4.6px;
          background: #263238;
        }

        .prog1Screens {
          width: 94px;
          height: 76.4px;
          margin-top: 58.7px;
          margin-left: 144.4px;
        }

        .prog1Php {
          width: 34.3px;
          height: 24.2px;
          margin-top: 12.6px;
          margin-left: 35px;
        }

        .prog1Html {
          width: 31px;
          height: 22px;
          margin-top: 105px;
          margin-left: 219.6px;
        }

        .prog1Screen4 {
          width: 23px;
          height: 16px;
          margin-top: 104.7px;
          margin-left: 18.7px;
        }

        .prog1Css {
          width: 38px;
          height: 24.7px;
          margin-top: 29px;
          margin-left: 145px;
        }

        .prog1Man {
          width: 119.2px;
          height: 190px;
          margin-top: 61.6px;
          margin-left: 73.5px;
        }

        .prog1Flower {
          width: 33.3px;
          height: 66px;
          margin-top: 170.2px;
          margin-left: 0;
        }

        .prog1Monitor {
          width: 13.8px;
          height: 55.7px;
          margin-top: 93.2px;
          margin-left: 202.6px;
        }

        .prog1Computer {
          width: 61.8px;
          height: 83px;
          margin-top: 153px;
          margin-left: 194.5px;
        }

        .prog1Mouse {
          width: 30.5px;
          height: 36.6px;
          margin-top: 136.6px;
          margin-left: 188px;
        }

        .prog1Computer2 {
          width: 33px;
          height: 82px;
          margin-top: 153.7px;
          margin-left: 36.6px;
        }

        .prog1Monitor2 {
          width: 58.8px;
          height: 50px;
          margin-top: 99.5px;
          margin-left: 37.4px;
        }

        .prog1Table {
          width: 182px;
          height: 89px;
          margin-top: 147px;
          margin-left: 43.2px;
        }
      }
    }
  }
}
