@import "../../../../assets/styles/global";

.new__articles {
  position: relative;
  margin-bottom: 160px;

  .articles__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;

    .header__title {
      @include titleH2;
      z-index: 1;

      &::before {
        content: "";
        display: block;
        width: 111px;
        height: 16px;
        background: $border-color;
        border-radius: 4px;
        bottom: 0px;
        position: absolute;
        z-index: -1;
        left: -9px;
      }
    }

    .header__button {
      @include button-more;
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .articles__header .header__title::before {
      bottom: 6px;
    }
  }

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 100px;

    .articles__header {
      margin-bottom: 29px;

      .header__title {
        &::before {
          bottom: 3px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    margin-bottom: 80px;

    .articles__header {
      margin-bottom: 20px;

      h2.header__title {
        &::before {
          width: 49px;
          height: 8px;
          left: -4px;
          border-radius: 2px;
        }
      }
    }
  }
}
