@import "../assets/styles/global";

// global container sizes
.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: auto;

  @media (max-width: $maxWidthLaptop) {
    padding: 0 80px;
    max-width: 1698px;
  }

  @media (max-width: $maxWidthLaptop2) {
    padding: 0 50px;
  }

  @media (max-width: $maxWidthTablet) {
    padding: 0 20px;
    max-width: 720px;
  }

  @media (max-width: $maxWidthMobile) {
    padding: 0;
    max-width: 290px;
  }
}

//header navigation styles
.header__navbar--layout {
  display: flex;
  align-items: center;
  margin: 31px 0 36px 0;
  z-index: 6;

  .navbar__icon {
    font-size: 18px;
    color: $red-color;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

    .menu__item {
      display: flex;
      align-items: center;
      margin-left: 10px;

      span.item_arrow {
        margin-right: 10px;
        display: flex;
        align-items: center;
        color: $black-color;
        transform: matrix(1, 0, 0, -1, 0, 0);
        opacity: 0.6;
        transition: all 0.1s;
        z-index: 0;
      }

      a.item__link {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $black-color;
        opacity: 0.6;
        text-decoration: none;
        transition: all 0.1s;
        z-index: 0;
      }
    }

    .menu__item--active,
    .menu__item:hover {
      span.item_arrow,
      a.item__link {
        opacity: 1;
      }
    }
  }

  @media (max-width: $maxWidthTablet) {
    margin: 20px 0 30px 0;
  }

  @media (max-width: $maxWidthMobile) {
    margin: 20px 0;

    .navbar__icon {
      font-size: 14px;
      margin-right: 5px;
    }

    .navbar__menu {
      .menu__item {
        margin-left: 5px;

        a.item__link {
          font-size: 12px;
          line-height: 12px;
        }

        span.item_arrow {
          font-size: 10px;
          margin-right: 5px;
          margin-top: 3px;
        }
      }
    }
  }
}

// slider styles
.mySwiper {
  padding-bottom: 90px;

  .swiper-pagination {
    text-align: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: transparent;
    margin: 0 3px !important;
    font-size: 0;
    line-height: 0;
    opacity: 1;

    &::before {
      content: "";
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;
      width: 8px;
      height: 8px;
      background: $red-color;
    }
  }

  .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    border-color: $red-color;
    background: $white-color;
    position: relative;
  }

  .swiper__pagination {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2px;

    & > div {
      z-index: 10;
    }
  }

  .swiper-pagination {
    bottom: 23px;
  }

  @media (max-width: $maxWidthTablet) {
    padding-bottom: 84px;

    .swiper-button-prev,
    .swiper-button-next {
      &:hover::before {
        position: absolute;
        right: -12px;
        content: "" !important;
        display: block !important;
        width: 48px !important;
        height: 48px !important;
        border-radius: 50% !important;
        border: 2px solid $red-color !important;
        background: transparent !important;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    padding-bottom: 70px;

    .swiper-pagination {
      bottom: 26px;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 2px !important;
        background: transparent;

        &::before {
          width: 6px;
          height: 6px;
        }
      }

      .swiper-pagination-bullet-active {
        width: 14px;
        height: 14px;
        border-color: $red-color;
        background: $white-color;
        position: relative;
      }
    }

    .swiper__pagination {
      bottom: 13px;
    }
  }
}

// dropdown content edits
.MuiPaper-elevation {
  .filter__item {
    display: flex;
    justify-content: space-between;

    .item__icon--button {
      position: relative;
      color: rgba($color: $black-color, $alpha: 0.6);
      cursor: pointer;
      z-index: 3;
    }
  }
}

// page background images styles started
// blog page
.blog__page {
  position: relative;
  overflow: hidden;

  .page__bgimages {
    .bgimage1 {
      bottom: 132px;
      right: 0;
      position: absolute;
      font-size: 0;
      line-height: 0;
    }
  }

  @media (max-width: $maxWidthTablet) {
    .page__bgimages {
      .bgimage1 {
        bottom: 132px;
        right: -300px;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .page__bgimages {
      display: none;
    }
  }
}

// blog detail page
.blogdetail__page {
  position: relative;

  .page__bgimages {
    .bgimage1 {
      top: 960px;
      right: 0;
      position: absolute;
      font-size: 0;
      line-height: 0;
    }

    .bgimage2 {
      bottom: 342px;
      left: 0;
      position: absolute;
      font-size: 0;
      line-height: 0;
    }
  }

  @media (max-width: $maxWidthLaptop) {
    position: relative;

    .page__bgimages {
      .bgimage1 {
        top: 1296px;
      }
      .bgimage2 {
        left: -175px;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .page__bgimages {
      .bgimage1 {
        display: none;
      }

      .bgimage2 {
        bottom: -150px;
        left: -40px;
        transform: rotate(90deg) scale(0.8);
        z-index: -1;
      }
    }
  }
}

// courses page
.courses__page {
  position: relative;

  .page__bgimages {
    .bgimage1 {
      bottom: 0;
      right: 0;
      position: absolute;
      font-size: 0;
      line-height: 0;
    }
  }

  @media (max-width: $maxWidthTablet) {
    .page__bgimages {
      display: none;
    }
  }
}

// course detail page
.coursedetail__page {
  position: relative;

  .page__bgimages {
    .bgimage1 {
      bottom: 0;
      right: 0;
      position: absolute;
      font-size: 0;
      line-height: 0;
      z-index: -1;
    }
  }

  @media (max-width: $maxWidthMobile) {
    .page__bgimages {
      display: none;
    }
  }
}

// about page
.about__page {
  position: relative;
  overflow: hidden;

  .page__bgimages {
    .bgimage1 {
      bottom: 0;
      right: 0;
      position: absolute;
      font-size: 0;
      line-height: 0;
    }
  }

  @media (max-width: $maxWidthTablet) {
    .page__bgimages {
      .bgimage1 {
        bottom: -90px;
        right: -300px;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .page__bgimages {
      .bgimage1 {
        bottom: -220px;
        right: -480px;
      }
    }
  }
}

// about page
.support__page {
  position: relative;
  overflow: hidden;

  .page__bgimages {
    .bgimage1 {
      bottom: -200px;
      right: 20px;
      position: absolute;
      font-size: 0;
      line-height: 0;
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .page__bgimages {
      .bgimage1 {
        bottom: 0;
      }
    }
  }

  @media (max-width: $maxWidthLaptop2) {
    .page__bgimages {
      .bgimage1 {
        right: -260px;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .page__bgimages {
      .bgimage1 {
        transform: scale(0.9);
        right: -600px;
        bottom: -270px;
      }
    }
  }
}
