.blog__articles {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  h1.blog__articles__title {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.005em;
    color: #23262d;
    margin-bottom: 20px;
  }

  header.articles__header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 70px;

    .header__tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .tags__tag {
        padding: 10px 15px;
        background: #92e3a9;
        border-radius: 4px;
        margin-right: 11px;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 14px;
        color: #23262d;
      }
    }

    .header__filter {
      .filter__select {
        width: 232px;

        .MuiInputBase-input {
          padding: 9px 16px 11px;
          font-family: "Segoe UI";
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #606268;
          display: flex;
          align-items: center;

          em {
            font-style: normal;
          }

          .MuiChip-root {
            height: auto;
            font-size: 12px;
            padding: 3px 0px;
          }
        }

        fieldset {
          border: 2px solid #e2e7eb;
        }
      }
    }
  }

  .articles__body {
    .body__menu {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .article__card {
        max-width: 22.6%;
        margin-bottom: 30px;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}
