@import "../../../../assets/styles/global";

.blog__articles {
  .asticles__content {
    position: relative;

    .header__banner {
      position: absolute;
      transform: rotate(-90deg);
      top: 52px;
      left: -295px;
      right: auto;
      z-index: -1;

      .banner__text {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 130px;
        line-height: 156px;
        color: transparent;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        opacity: 0.06;
        -webkit-text-stroke: 2px $black-color;
      }
    }

    h1.blog__articles__title {
      @include titleH1;
      margin-bottom: 20px;
    }

    header.articles__header {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      margin-bottom: 70px;

      .header__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }

      .header__filter {
        .filter__select {
          background: $white-color;
          width: 232px;

          .MuiInputBase-input {
            padding: 8px 16px 8px !important;
            font-family: "Segoe UI";
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: $txt-color;
            display: flex;
            align-items: center;

            em {
              font-style: normal;
            }

            .MuiChip-root {
              height: auto;
              font-size: 12px;
              padding: 3px 0px;
            }
          }

          fieldset {
            border: 2px solid $border-color;
          }
        }
      }
    }

    .articles__body {
      .body__menu {
        @include grid-menu;
      }

      .body__pagination {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 160px;

        ul {
          li {
            button {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: $white-color;
              border: 2px solid $border-color;
              border-radius: 8px;
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 18px;
              color: $black-color;
              margin: 0 5px;

              &:hover {
                border-color: $red-color;
                color: $red-color;
              }

              &.Mui-selected {
                padding: 11px 15px 11px 14px;
                background: $red-color;
                border-radius: 8px;
                border: none;
                color: $white-color;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          li:first-child {
            display: none;
          }

          li:last-child {
            display: none;
          }
        }

        button.pagination__button {
          border: none;
          outline: none;
          background: transparent;
        }
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .asticles__content {
      .header__banner {
        top: -65px;
        left: auto;
        transform: rotate(0);
        right: -15px;
      }
    }
  }

  @media screen and (max-width: $maxWidthLaptop2) {
  }

  @media (max-width: $maxWidthTablet) {
    .asticles__content {
      .header__banner {
        display: none;
      }

      h1.blog__articles__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 30px;
      }

      header.articles__header {
        .header__filter {
          position: absolute;
          top: 8px;
          right: 0;

          .filter__select {
            width: 330px;
          }
        }
      }

      .articles__body {
        .body__pagination {
          margin-bottom: 100px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .asticles__content {
      h1.blog__articles__title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      header.articles__header {
        margin-bottom: 40px;
        display: block;
        flex-direction: column;

        .header__tags {
          margin-bottom: 20px;
        }

        .header__filter {
          max-width: 360px;
          position: unset;
          top: 150px;
          margin: auto;

          .filter__select {
            width: 100%;
          }
        }
      }

      .articles__body {
        .body__pagination {
          margin: 28px 0 58px 0;

          ul {
            li {
              button {
                width: 30px;
                height: 30px;
                font-size: 14px;
                line-height: 14px;
                margin: 0 2.5px;

                &:hover {
                  border-color: $red-color;
                }

                &.Mui-selected {
                  padding: 8px 10px 9px 10px;
                }
              }
            }

            li:first-child {
              display: none;
            }

            li:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}
