.header__img {
  .img__container {
    width: 741px;
    height: 582px;
    position: relative;

    .layer {
      width: 100%;
      height: 582px;
      position: absolute;

      .bracket1 {
        width: 179px;
        height: 120px;
        margin-top: 380px;
        margin-left: -93px;
        display: block;
      }

      .bracket2 {
        width: 185px;
        height: 100px;
        margin-top: 11px;
        margin-left: 463px;
      }

      .bigBackground {
        width: 594.98px;
        height: 482.37px;
        margin-top: 0;
        margin-left: 0;
      }

      .dotBorder {
        width: 319px;
        height: 426px;
        margin-top: 30px;
        margin-left: 27.7px;
      }

      .man {
        width: 220px;
        height: 347.6px;
        margin-top: 224px;
        margin-left: 268px;
      }

      .screenImg {
        width: 489.3px;
        height: 304px;
        margin-top: 93px;
        margin-left: 53px;
      }

      .screenImgs2 {
        width: 393.5px;
        height: 388.6px;
        margin-top: 57px;
        margin-left: 74.4px;
      }

      .shadowImg {
        width: 519px;
        height: 72.6px;
        margin-top: 509.4px;
        margin-left: 38px;
      }
    }
  }

  @media (max-width: 1919px) {
    .img__container {
      width: 786px;
      height: 719px;
      position: relative;

      .layer {
        width: 100%;
        height: 719px;
        position: absolute;

        .bracket1 {
          display: none;
        }

        .bracket2 {
          width: 185px;
          height: 120px;
          margin-top: 53px;
          margin-left: 601px;
        }

        .bigBackground {
          width: 734.98px;
          height: 595.87px;
          margin-top: 0;
          margin-left: 0;
        }

        .dotBorder {
          width: 394px;
          height: 526px;
          margin-top: 37px;
          margin-left: 34px;
        }

        .man {
          width: 272px;
          height: 429px;
          margin-top: 277px;
          margin-left: 331px;
        }

        .screenImg {
          width: 604px;
          height: 376px;
          margin-top: 115px;
          margin-left: 65px;
        }

        .screenImgs2 {
          width: 486px;
          height: 480px;
          margin-top: 71px;
          margin-left: 92px;
        }

        .shadowImg {
          width: 641px;
          height: 90px;
          margin-top: 629px;
          margin-left: 46px;
        }
      }
    }
  }

  @media (max-width: 1229px) {
    .img__container {
      width: 392px;
      height: 383.4px;
      position: relative;

      .layer {
        width: 100%;
        height: 383.4px;
        position: absolute;

        .bracket1 {
          width: 118px;
          height: 65px;
          margin-top: 25px;
          margin-left: -77px;
          z-index: -1;
          display: block;
        }

        .bracket2 {
          width: 122px;
          height: 65px;
          margin-top: 313px;
          margin-left: -25px;
          z-index: -1;
        }

        .bigBackground {
          width: 392px;
          height: 318px;
          margin-top: 0;
          margin-left: 0;
        }

        .dotBorder {
          width: 210.3px;
          height: 280.8px;
          margin-top: 19.7px;
          margin-left: 18.2px;
        }

        .man {
          width: 145.2px;
          height: 229px;
          margin-top: 147.7px;
          margin-left: 176.7px;
        }

        .screenImg {
          width: 322.4px;
          height: 200.3px;
          margin-top: 61.5px;
          margin-left: 34.8px;
        }

        .screenImgs2 {
          width: 259.3px;
          height: 256px;
          margin-top: 37.8px;
          margin-left: 49px;
        }

        .shadowImg {
          width: 342px;
          height: 47.8px;
          margin-top: 335.6px;
          margin-left: 25px;
        }
      }
    }
  }
}
