@import "../assets/styles/global";

.layout {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .layout__imgbg {
    .imgbg_1 {
      position: absolute;
      top: 0;
      left: 0px;
      z-index: -1;
    }
  }

  .layout__navbar {
    padding-top: 18px;
    background: transparent;

    .container {
      background: transparent;
    }
  }

  .layout__footer {
    margin-top: auto;
    position: relative;
    z-index: 30;
  }

  @media (max-width: $maxWidthLaptop) {
    .layout__imgbg {
      .imgbg_1 {
        top: -50px;
        left: -320px;
      }
    }
  }

  @media screen and (max-width: $maxWidthLaptop2) {
    
  }

  @media (max-width: $maxWidthTablet) {
    .layout__imgbg {
      transform: rotate(17.58deg);

      .imgbg_1 {
        top: -50px;
        left: -280px;
        transform: scale(0.6);
      }
    }

    .layout__navbar {
      padding-top: 20px;
    }
  }

  @media (max-width: $maxWidthMobile) {
    .layout__imgbg {
      transform: rotate(0);

      .imgbg_1 {
        width: 110%;
        top: -40px;
        left: -110px;
        transform: scale(1);
      }
    }

    .layout__navbar {
      padding-top: 15px;
    }
  }
}
