@import "../../../../assets/styles/global";

.sendmail {
  margin-bottom: 160px;
  position: relative;

  .imgbg_1 {
    position: absolute;
    z-index: -1;
    top: -230px;
    left: -50px;
  }

  .sendmail__content {
    position: relative;
    background: $white-color;
    box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
    border-radius: 20px;
    padding: 60px 90px 60px 78px;

    .imgbg_2 {
      position: absolute;
      z-index: -1;
      top: 60px;
      right: -20%;
    }

    .content__title {
      display: inline-block;
      @include titleH2;
      line-height: 60px;
      margin-bottom: 10px;
      z-index: 5;

      &::before {
        content: "";
        display: block;
        width: 112px;
        height: 16px;
        background: $red-color;
        opacity: 0.5;
        border-radius: 4px;
        position: absolute;
        z-index: -1;
        bottom: 6px;
        left: -12px;
      }

      &::after {
        content: "";
        display: block;
        width: 265px;
        height: 16px;
        background: $red-color;
        opacity: 0.5;
        border-radius: 4px;
        position: absolute;
        z-index: -1;
        bottom: 6px;
        right: -5px;
      }
    }

    .content__text {
      margin-bottom: 50px;

      @include text-big;
    }

    .content__form {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        @include button1(_, "block");

        svg {
          color: $white-color;
          margin-left: 20px;
          margin-top: 2px;
        }
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .imgbg_1 {
      top: -210px;
      left: 0;
    }

    .sendmail__content {
      .imgbg_2 {
        top: 0;
        right: -5.5%;
      }

      .content__form {
        .input__group {
          max-width: 600px;
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }
        }

        button {
          padding: 20px 65px;
        }
      }
    }
  }

  @media (max-width: $maxWidthLaptop2) {
    .imgbg_1 {
      left: -200px;
    }
  }

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 100px;

    .imgbg_1 {
      top: -230px;
      left: -250px;
    }

    .sendmail__content {
      padding: 50px 30px 50px 30px;

      .imgbg_2 {
        top: 60px;
        right: -40%;
      }

      .content__title {
        text-align: center;

        &::before {
          display: none;
        }

        &::after {
          width: 215px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .content__text {
        margin-bottom: 30px;
      }

      .content__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .input__group {
          max-width: 305px;
          margin-right: 0;
        }

        button {
          padding: 15px 30px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    margin-bottom: 60px;

    .imgbg_1 {
      top: -260px;
      left: -480px;
    }

    .sendmail__content {
      padding: 30px 20px 20px;

      .imgbg_2 {
        top: 30px;
        right: -120%;
      }

      h2.content__title {
        text-align: left;
        margin-bottom: 6px;

        &::before {
          display: block;
          height: 8px;
          width: 108px;
          transform: unset;
          border-radius: 2px;
          left: -4px;
          top: 19px;
          opacity: 0.3;
        }

        &::after {
          display: block;
          height: 8px;
          width: 108px;
          transform: unset;
          border-radius: 2px;
          left: -4px;
          bottom: 4px;
          opacity: 0.3;
        }
      }

      p.content__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
      }

      .content__form {
        flex-direction: column;
        align-items: unset;
        gap: 15px;

        .input__group {
          max-width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
