.sendmail {
  margin-bottom: 160px;
  position: relative;

  .imgbg_1 {
    position: absolute;
    z-index: -1;
    top: -230px;
    left: -150px;
  }

  .sendmail__content {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
    border-radius: 20px;
    padding: 60px 90px 60px 78px;

    .imgbg_2 {
      position: absolute;
      z-index: -1;
      top: 60px;
      right: -10%;
    }

    .content__title {
      display: inline-block;
      font-family: "Bitter";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0.01em;
      color: #23262d;
      margin-bottom: 10px;
      position: relative;
      z-index: 5;

      &::before {
        content: "";
        display: block;
        width: 112px;
        height: 16px;
        background: #e36f59;
        opacity: 0.5;
        border-radius: 4px;
        position: absolute;
        z-index: -1;
        bottom: 6px;
        left: -12px;
      }

      &::after {
        content: "";
        display: block;
        width: 265px;
        height: 16px;
        background: #e36f59;
        opacity: 0.5;
        border-radius: 4px;
        position: absolute;
        z-index: -1;
        bottom: 6px;
        right: -5px;
      }
    }

    .content__text {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #606268;
      margin-bottom: 50px;
    }

    .content__form {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .input__group {
        max-width: 390px;
        flex-grow: 1;
        padding: 7px;
        display: flex;
        align-items: center;
        background: #ffffff;
        border: 2px solid #e2e7eb;
        border-radius: 8px;

        input {
          width: 100%;
          padding: 11px 20px 10px 20px;
          border: none;
          outline: none;
          background: transparent;

          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #23262d;

          &::placeholder {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #606268;
          }
        }
        .input__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 10px 8px 16px;
          color: #c4cacf;
          border-left: 2px solid #e2e7eb;
        }
      }

      button {
        background: #e36f59;
        border-radius: 8px;
        padding: 20px 37px;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: flex-start;

        svg {
          color: #fff;
          margin-left: 20px;
          margin-top: 2px;
        }
      }
    }
  }

  @media (max-width: 1919px) {
    .imgbg_1 {
      top: -210px;
      left: 0;
    }

    .sendmail__content {
      .imgbg_2 {
        top: 0;
        right: -5.5%;
      }

      .content__form {
        .input__group {
          max-width: 600px;
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }
        }

        button {
          padding: 20px 65px;
        }
      }
    }
  }

  @media (max-width: 1229px) {
    margin-bottom: 100px;

    .imgbg_1 {
      top: -230px;
      left: -250px;
    }

    .sendmail__content {
      padding: 50px 30px 50px 30px;

      .imgbg_2 {
        top: 60px;
        right: -40%;
      }

      .content__title {
        text-align: center;
        font-size: 40px;
        line-height: 45px;

        &::before {
          display: none;
        }

        &::after {
          width: 215px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .content__text {
        margin-bottom: 30px;
      }

      .content__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .input__group {
          max-width: 305px;
          margin-right: 0;

          input {
            padding: 9px 20px 8px 20px;
            background: transparent;
          }
        }

        button {
          padding: 15px 30px;
        }
      }
    }
  }

  @media (max-width: 689px) {
    margin-bottom: 60px;

    .imgbg_1 {
      top: -260px;
      left: -480px;
    }

    .sendmail__content {
      padding: 30px 20px 20px;

      .imgbg_2 {
        top: 30px;
        right: -120%;
      }

      h2.content__title {
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 6px;

        &::before {
          display: block;
          height: 8px;
          width: 108px;
          transform: unset;
          border-radius: 2px;
          left: -4px;
          top: 19px;
          opacity: 0.3;
        }

        &::after {
          display: block;
          height: 8px;
          width: 108px;
          transform: unset;
          border-radius: 2px;
          left: unset;
          right: 28px;
          bottom: 4px;
          opacity: 0.3;
        }
      }

      p.content__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
      }

      .content__form {
        flex-direction: column;
        align-items: unset;
        gap: 15px;

        .input__group {
          max-width: 100%;
          margin-bottom: 0;

          input {
            font-size: 14px;
            line-height: 14px;
            padding: 6px 20px 7px 20px;
          }
        }

        button {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 15px 66px 16px;
        }
      }
    }
  }
}
