.articles {
  padding-top: 37px;
  position: relative;
  overflow: hidden;
  margin-bottom: 160px;

  .article__content {
    .content__bg {
      z-index: -1;
      top: 0;
      right: 0px;
      width: 700px;
      position: absolute;

      img {
        width: 100%;
      }
    }

    .content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 38px;

      h3.header__title {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.01em;
        color: #23262d;
        position: relative;

        &::before {
          width: 111px;
          height: 16px;
          display: block;
          z-index: -1;
          left: -10px;
          content: "";
          position: absolute;
          background: #e36f59;
          opacity: 0.5;
          border-radius: 4px;
          bottom: 0px;
        }
      }

      a.header__more {
        background: #ffffff;
        border: 2px solid #e36f59;
        border-radius: 8px;
        padding: 15px 30px;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #e36f59;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
