@import "../../../../assets/styles/global";

.articles {
  padding-top: 37px;
  position: relative;
  margin-bottom: 160px;

  .article__content {
    .content__bg {
      z-index: -1;
      top: 0px;
      right: 0px;
      position: absolute;

      img {
        width: 100%;
      }
    }

    .content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 38px;

      h3.header__title {
        @include slider-title();
      }

      a.header__more {
        @include button-more;
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .article__content {
      .content__bg {
        width: 850px;
        top: -50px;
        transform: rotate(-9.9deg);
      }
    }
  }

  @media (max-width: $maxWidthTablet) {
    padding-top: 0;
    margin-bottom: 100px;

    .article__content {
      .content__bg {
        top: -30px;
        right: -250px;
        width: 700px;
        position: absolute;
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    margin-bottom: 65px;

    .article__content {
      .content__bg {
        display: none;
      }

      .content__header {
        margin-bottom: 20px;
      }
    }
  }
}
