.courseslider {
  .course {
    width: 100%;
    height: 266px;
    border-radius: 8px;
    padding: 30px 25px 25px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    .course__banner {
      position: absolute;
      top: 30px;
      right: 30px;
    }

    .course__icon {
      margin-bottom: 25px;
    }

    .course__title {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: flex-end;
      color: #23262d;
      margin-bottom: 20px;
    }

    .course__text {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #23262d;
      margin-bottom: 9px;
    }

    .link__box {
      display: flex;
      justify-content: flex-end;
      margin-top: auto;

      .box__link__link {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
        color: #23262d;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1919px) {
    .course {
      width: 100%;
      height: 266px;
      border-radius: 8px;
      padding: 30px 30px 26px 20px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;

      .course__banner {
        position: absolute;
        top: 14px;
        right: 30px;

        h2 {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 900;
          font-size: 100px;
          line-height: 120px;
          text-align: right;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: transparent;
          opacity: 0.7;
          -webkit-text-stroke: 2px #fff;
        }
      }

      &:nth-of-type(even) .course__banner h2 {
        opacity: 1;
      }

      .course__icon {
        margin-bottom: 25px;
      }

      .course__title {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: #23262d;
        margin-bottom: 20px;
      }

      .course__text {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #23262d;
        margin-bottom: 9px;
      }

      .link__box {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;

        .box__link__link {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-decoration: underline;
          color: #23262d;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 1229px) {
    .course {
      width: 100%;
      height: 315px;
      border-radius: 8px;
      padding: 30px 25px 25px 30px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;

      .course__banner {
        position: absolute;
        top: 20px;
        right: 30px;

        h2 {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 900;
          font-size: 60px;
          line-height: 72px;
          text-align: right;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }

      .course__icon {
        margin-bottom: 25px;
      }

      .course__title {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: #23262d;
        margin-bottom: 20px;
      }

      .course__text {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #23262d;
        margin-bottom: 9px;
      }

      .link__box {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;

        .box__link__link {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-decoration: underline;
          color: #23262d;
          cursor: pointer;
        }
      }
    }
  }
}
