.courseslider {
  .course {
    width: 100%;
    height: 266px;
    border-radius: 8px;
    padding: 30px 25px 25px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    .course__banner {
      position: absolute;
      top: 30px;
      right: 30px;
    }

    .course__icon {
      margin-bottom: 25px;
    }

    .course__title {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: flex-end;
      color: #23262d;
      margin-bottom: 20px;
    }

    .course__text {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #23262d;
      margin-bottom: 9px;
    }

    .link__box {
      display: flex;
      justify-content: flex-end;
      margin-top: auto;

      .box__link__link {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
        color: #23262d;
        cursor: pointer;
      }
    }
  }
}
