@import "../../../../assets/styles/global";

.courseslider {
  .course {
    width: 100%;
    height: 266px;
    border-radius: 8px;
    padding: 30px 25px 25px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    .course__banner {
      position: absolute;
      top: 14px;
      right: 30px;

      h2 {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 100px;
        line-height: 120px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: transparent;
        opacity: 0.7;
        -webkit-text-stroke: 2px $white-color;
      }
    }

    .course__icon {
      margin-bottom: 25px;
    }

    .course__title {
      margin-bottom: 20px;

      @include titleH4;
    }

    .course__text {
      margin-bottom: 9px;

      @include textH7($black-color);
    }

    .link__box {
      display: flex;
      justify-content: flex-end;
      margin-top: auto;

      .box__link__link {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
        color: $black-color;
        cursor: pointer;
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
  }

  @media (max-width: $maxWidthTablet) {
    .course {
      height: 315px;

      .course__banner {
        top: 18px;

        h2 {
          font-size: 60px;
          line-height: 72px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .course {
      height: 260px;
      padding: 30px 15px;

      .course__banner {
        top: 15px;
        right: 14px;
      }

      .course__icon {
        width: 35.6px;
        height: 40px;
        margin-bottom: 25px;

        img {
          width: 100%;
        }
      }

      .course__title {
        margin-bottom: 10px;
      }

      .course__text {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
