@import "../../assets/styles/global";

.footer {
  background: $footer-color;

  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;

    .content__left {
      p {
        @include textH6;
        line-height: 16px;
        color: $white-color;
      }
    }

    .content__right {
      display: flex;
      gap: 40px;

      a {
        @include titleH5;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
        cursor: pointer;
        text-decoration: none;
        transition: 0.1s;

        &:hover {
          color: $red-color;
        }
      }
    }
  }
  @media (max-width: $maxWidthTablet) {
    .footer__content {
      padding: 29px 0;

      .content__left {
        p {
          font-size: 12px;
          line-height: 12px;
        }
      }

      .content__right {
        a {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .footer__content {
      flex-direction: column;
      align-items: flex-start;
      padding: 35px 0;

      .content__left {
        margin-bottom: 20px;
      }

      .content__right {
        gap: 47px;
      }
    }
  }
}
