.footer {
  background: #2d3034;

  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;

    .content__left {
      p {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
      }
    }

    .content__right {
      display: flex;
      gap: 40px;

      a {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: 0.1s;

        &:hover {
          color: #e36f59;
        }
      }
    }
  }
  @media (max-width: 1229px) {
    .footer__content {
      padding: 29px 0;

      .content__left {
        p {
          font-size: 12px;
          line-height: 12px;
        }
      }

      .content__right {
        a {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  @media (max-width: 689px) {
    .footer__content {
      flex-direction: column;
      align-items: flex-start;
      padding: 35px 0;

      .content__left {
        margin-bottom: 20px;

        a {
          font-size: 14px;
          line-height: 16px;
        }
      }

      .content__right {
        gap: 47px;
      }
    }
  }
}
