.about__connect {
  margin-bottom: 160px;

  .sendmail__content {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
    border-radius: 20px;
    padding: 60px 90px 60px 78px;

    h2.content__title {
      font-family: "Bitter";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0.01em;
      color: #23262d;
      margin-bottom: 37px;
      position: relative;
      z-index: 3;

      &::before {
        content: "";
        width: 112px;
        height: 16px;
        display: block;
        position: absolute;
        background: #e36f59;
        opacity: 0.5;
        border-radius: 4px;
        transform: translateY(38px);
        left: -10px;
        z-index: -1;
      }
    }

    .content__form {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .input__group {
        max-width: 390px;
        flex-grow: 1;
        padding: 7px;
        display: flex;
        align-items: center;
        background: #ffffff;
        border: 2px solid #e2e7eb;
        border-radius: 8px;

        input {
          width: 100%;
          padding: 11px 20px 10px 20px;
          border: none;
          outline: none;
          background: transparent;

          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #23262d;

          &::placeholder {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #606268;
          }
        }
        .input__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 10px 8px 16px;
          color: #c4cacf;
          border-left: 2px solid #e2e7eb;
        }
      }

      button {
        background: #e36f59;
        border-radius: 8px;
        padding: 20px 66px;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
      }
    }
  }

  @media (max-width: 1919px) {
    .sendmail__content {
      .content__form {
        .input__group {
          max-width: 600px;
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }
        }

        button {
          padding: 20px 90px;
        }
      }
    }
  }

  @media (max-width: 1229px) {
    margin-bottom: 100px;

    .sendmail__content {
      position: relative;
      background: #ffffff;
      box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
      border-radius: 20px;
      padding: 50px 30px 50px 30px;

      h2.content__title {
        font-size: 40px;
        line-height: 45px;
        z-index: 3;
        text-align: center;

        &::before {
          width: 104px;
          opacity: 0.3;
          left: 50%;
          bottom: 3px;
          transform: translateX(-50%);
          z-index: -1;
        }
      }

      .content__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .input__group {
          max-width: 305px;
          margin-bottom: 20px;
          margin-right: 0;

          input {
            padding: 9px 20px 8px 20px;
          }
        }

        button {
          padding: 20px 66px;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 689px) {
    margin-bottom: 60px;

    .sendmail__content {
      padding: 30px 20px;

      h2.content__title {
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 27px;

        &::before {
          height: 8px;
          width: 108px;
          transform: unset;
          border-radius: 2px;
          left: -4px;
        }
      }

      .content__form {
        flex-direction: column;
        align-items: unset;
        gap: 15px;

        .input__group {
          max-width: 100%;
          margin-bottom: 0;

          input {
            font-size: 14px;
            line-height: 14px;
            padding: 6px 20px 7px 20px;
          }
        }

        button {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 15px 66px 16px;
        }
      }
    }
  }
}
