@import "../../../../assets/styles/global";

.blog__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 30px;

  .header__banner {
    position: absolute;
    transform: rotate(-90deg);
    top: 52px;
    left: -295px;

    .banner__text {
      font-family: "Bitter";
      font-style: normal;
      font-weight: 900;
      font-size: 130px;
      line-height: 156px;
      color: transparent;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      opacity: 0.06;
      -webkit-text-stroke: 2px $black-color;
    }
  }

  .content__main {
    width: 915px;

    header.content__header {
      margin-bottom: 40px;

      h1 {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        color: #23262d;
        margin-bottom: 15px;
      }

      .header__info {
        display: flex;
        align-items: center;

        h5 {
          display: flex;
          align-items: center;
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #23262d;
          margin-right: 30px;

          span {
            color: #e36f59;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }

    footer.content__footer {
      .footer__social {
        padding: 20px 20px 20px 30px;
        background: #ffffff;
        box-shadow: 0px 9px 34px rgba(21, 33, 56, 0.1);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .social__left {
          display: flex;
          align-items: center;

          h6 {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #23262d;
            margin-right: 15px;
          }

          .social__icons {
            display: flex;
            align-items: center;

            .icon__box {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              color: #e36f59;
              border-radius: 50%;
              transition: 0.1s all;
              cursor: pointer;

              &:hover {
                color: #fff;
                background: #e36f59;
              }
            }
          }
        }

        .social__right {
          a.right__button {
            display: block;
            width: 141px;
            height: 40px;
            border: none;
            background-color: #fff;
            background-size: 100% 100%;
            cursor: pointer;
          }
        }
      }

      .slide__article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;

        .slide__box {
          display: flex;
          align-items: center;

          button.prev__button {
            border: none;
            background: transparent;
          }

          button.next__button {
            border: none;
            background: transparent;
          }

          p.box__text {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #23262d;

            &:last-child {
              margin-left: 20px;
            }

            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
    .header__banner {
      display: none;
    }

    .content__main {
      width: 1266px;
      transition: 0.3s all;

      @media (max-width: 1600px) {
        width: 1100px;
      }

      @media (max-width: 1480px) {
        width: 950px;
      }

      @media (max-width: 1300px) {
        width: 870px;
      }
    }
  }

  @media (max-width: $maxWidthTablet) {
    display: flex;
    flex-direction: column;
    gap: unset;

    .content__main {
      width: 100%;

      header.content__header {
        margin-bottom: 30px;

        h1 {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    .content__main {
      header.content__header {
        margin-bottom: 30px;

        h1 {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 10px;
        }

        .header__info {
          h5 {
            span {
              font-size: 16px;
              display: flex;
              align-items: center;
            }
          }
        }
      }

      footer.content__footer {
        .footer__social {
          padding: 15px;
          margin-bottom: 40px;

          .social__left {
            h6 {
              display: none;
            }

            .social__icons {
              gap: 20px;

              .icon__box {
                width: 20px;
                height: 20px;
                font-size: 18px;

                &:hover {
                  color: #e36f59;
                  background: transparent;
                  border-radius: none;
                }
              }
            }
          }

          .social__right {
            a.right__button {
              width: 126px;
              height: 36px;
              background-size: 100% 100% !important;

              img {
                width: 100%;
              }
            }
          }
        }

        .slide__article {
          margin-bottom: 80px;

          .slide__box {
            p.box__text {
              font-size: 14px;
              line-height: 16px;

              &:last-child {
                text-align: left;
                margin-right: 12px;
              }

              &:first-child {
                text-align: right;
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
}
