.blog__content {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  position: relative;

  .header__banner {
    position: absolute;
    transform: rotate(-90deg);
    top: 52px;
    left: -305px;

    .banner__text {
      font-family: "Bitter";
      font-style: normal;
      font-weight: 900;
      font-size: 130px;
      line-height: 156px;
      color: transparent;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      opacity: 0.06;
      -webkit-text-stroke: 2px #23262d;
    }
  }

  .content__main {
    max-width: 915px;
    margin-right: 30px;

    header.content__header {
      margin-bottom: 40px;

      h1 {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        color: #23262d;
        margin-bottom: 15px;
      }

      .header__info {
        display: flex;
        align-items: center;

        h5 {
          display: flex;
          align-items: center;
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #23262d;
          margin-right: 30px;

          span {
            color: #e36f59;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }

    footer.content__footer {
      .footer__social {
        padding: 20px 20px 20px 30px;
        background: #ffffff;
        box-shadow: 0px 9px 34px rgba(21, 33, 56, 0.1);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .social__left {
          display: flex;
          align-items: center;

          h6 {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #23262d;
            margin-right: 15px;
          }

          .social__icons {
            display: flex;
            align-items: center;

            .icon__box {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              color: #e36f59;
              border-radius: 50%;
              transition: 0.1s all;
              cursor: pointer;

              &:hover {
                color: #fff;
                background: #e36f59;
              }
            }
          }
        }

        .social__right {
          a.right__button {
            display: block;
            width: 141px;
            height: 40px;
            border: none;
            background-color: #fff;
            background-size: 100% 100%;
            cursor: pointer;
          }
        }
      }

      .slide__article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 160px;

        .slide__box {
          display: flex;
          align-items: center;

          button.prev__button {
            width: 63px;
            height: 55px;
            background: url(../../../../assets/arrowLeft.svg);
            background-repeat: no-repeat;
            background-position: 100% 52%;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
              background: url(../../../../assets/arrowCircle.svg);
              transform: rotate(180deg);
            }
          }

          button.next__button {
            width: 63px;
            height: 55px;
            background: url(../../../../assets/arrowLeft.svg);
            transform: rotate(180deg);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
              background: url(../../../../assets/arrowCircle.svg);
              transform: rotate(0);
            }
          }

          p.box__text {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #23262d;

            &:last-child {
              margin-left: 20px;
            }

            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  .content__sidebar {
    height: auto;
    display: flex;
    flex-grow: 1;
  }
}
