@import "../../assets//styles/global";

.tag__link {
  text-decoration: none !important;
}

.tag__content {
  padding: 10px 15px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: $black-color;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s;

  &.tag__content--article {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: default;
  }

  &.tag__active {
    padding: 8px 13px;
  }

  @media screen and (max-width: $maxWidthMobile) {
    padding: 8px 10px;

    &.tag__active {
      padding: 6px 8px;
    }
  }
}
