.courses {
  margin-bottom: 160px;
  position: relative;

  .courses__content {
    .content__bg {
      .coursebg__1 {
        position: absolute;
        top: -210px;
        left: -150px;
        z-index: -1;
      }

      .coursebg__2 {
        position: absolute;
        top: 115px;
        right: 20px;
        z-index: -1;
      }
    }

    .content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 38px;

      h3.header__title {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.01em;
        color: #23262d;
        position: relative;

        &::before {
          width: 111px;
          height: 16px;
          display: block;
          z-index: -1;
          left: -10px;
          content: "";
          position: absolute;
          background: #e36f59;
          opacity: 0.5;
          border-radius: 4px;
          bottom: 0px;
        }
      }

      a.header__more {
        background: #ffffff;
        border: 2px solid #e36f59;
        border-radius: 8px;
        padding: 15px 30px;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #e36f59;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1919px) {
    margin-bottom: 160px;
    position: relative;

    .courses__content {
      .content__bg {
        .coursebg__1 {
          left: 0px;
        }

        .coursebg__2 {
          right: 76px;
        }
      }

      .content__header {
        h3.header__title {
          font-size: 40px;
          line-height: 40px;
        }
      }
    }
  }

  @media (max-width: 1229px) {
    margin-bottom: 100px;
    position: relative;

    .courses__content {
      .content__bg {
        .coursebg__1 {
          left: -300px;
        }

        .coursebg__2 {
          right: -120px;
        }
      }
    }
  }

  @media (max-width: 689px) {
    margin-bottom: 65px;

    .courses__content {
      .content__header {
        margin-bottom: 20px;

        h3.header__title {
          font-size: 24px;
          line-height: 24px;

          &::before {
            width: 62px;
            height: 8px;
            left: -4px;
            border-radius: 2px;
          }
        }

        a.header__more {
          border: none;
          padding: 0;
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;
          background: transparent;
        }
      }
    }
  }
}
