@import "../../../../assets/styles/global";

.courses {
  margin-bottom: 160px;
  position: relative;

  .courses__content {
    .content__bg {
      user-select: none;

      .coursebg__1 {
        position: absolute;
        top: -210px;
        left: 0px;
        z-index: -1;
      }

      .coursebg__2 {
        position: absolute;
        top: 115px;
        right: 5%;
        z-index: -1;
      }
    }

    .content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 38px;

      h3.header__title {
        @include slider-title;
      }

      a.header__more {
        @include button-more;
      }
    }
  }

  @media (max-width: $maxWidthLaptop) {
    margin-bottom: 160px;
    position: relative;

    .courses__content {
      .content__bg {
        .coursebg__1 {
          left: 0px;
        }

        .coursebg__2 {
          right: 76px;
        }
      }
    }
  }

  @media (max-width: $maxWidthLaptop2) {
    margin-bottom: 160px;
    position: relative;

    .courses__content {
      .content__bg {
        .coursebg__1 {
          left: -180px;
        }

        .coursebg__2 {
          right: 30px;
        }
      }
    }
  }

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 100px;
    position: relative;

    .courses__content {
      .content__bg {
        .coursebg__1 {
          left: -300px;
        }

        .coursebg__2 {
          right: -120px;
        }
      }
    }
  }

  @media (max-width: $maxWidthMobile) {
    margin-bottom: 65px;

    .courses__content {
      .content__bg {
        .coursebg__1 {
          position: absolute;
          top: -210px;
          left: -185px;
          z-index: -1;
          transform: scale(0.5);
        }

        .coursebg__2 {
          display: none;
        }
      }

      .content__header {
        margin-bottom: 20px;
      }
    }
  }
}
