.course__content {
  display: grid;
  grid-template-columns: 285px 1fr;
  gap: 30px;
  position: relative;

  .header__banner {
    position: absolute;
    top: 290px;
    left: -550px;
    transform: rotate(-90deg);
    right: unset;

    .banner__text {
      font-family: "Bitter";
      font-style: normal;
      font-weight: 900;
      font-size: 130px;
      line-height: 156px;
      color: transparent;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      opacity: 0.06;
      -webkit-text-stroke: 2px #23262d;
    }
  }

  .content__main {
    .content__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 40px;

      .header__title {
        display: flex;
        flex-direction: column;

        .title--small {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: #606268;
          margin-bottom: 10px;
        }

        .title--main {
          max-width: 735px;
          font-family: "Bitter";
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 50px;
          letter-spacing: 0.01em;
          color: #23262d;
        }
      }

      .header__rating {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 80px;
        line-height: 96px;
        text-align: right;
        color: #c4cacf;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background: #f3f4f5;
          position: absolute;
          z-index: -1;
          transform: translate(30px, -7px);
        }
      }
    }

    .main__body {
    }

    .slide__lesson {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      .slide__box {
        display: flex;
        align-items: center;

        button.prev__button {
          width: 63px;
          height: 55px;
          background: url(../../../../assets/arrowLeft.svg);
          background-repeat: no-repeat;
          background-position: 100% 52%;
          border: none;
          outline: none;
          cursor: pointer;

          &:hover {
            background: url(../../../../assets/arrowCircle.svg);
            transform: rotate(180deg);
          }
        }

        button.next__button {
          width: 63px;
          height: 55px;
          background: url(../../../../assets/arrowLeft.svg);
          transform: rotate(180deg);
          background-repeat: no-repeat;
          background-position: 100% 50%;
          border: none;
          outline: none;
          cursor: pointer;

          &:hover {
            background: url(../../../../assets/arrowCircle.svg);
            transform: rotate(0);
          }
        }

        p.box__text {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #23262d;

          &:last-child {
            margin-left: 20px;
          }

          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 1919px) {
    display: grid;
    grid-template-columns: 402px 1fr;
    position: relative;
    gap: 30px;

    .header__banner {
      position: absolute;
      top: -65px;
      left: auto;
      transform: rotate(0);
      right: -15px;
      z-index: -1;

      .banner__text {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 900;
        font-size: 130px;
        line-height: 156px;
        color: transparent;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        opacity: 0.06;
        -webkit-text-stroke: 2px #23262d;
      }
    }

    .content__main {
      .content__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 40px;

        .header__title {
          display: flex;
          flex-direction: column;

          .title--small {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #606268;
            margin-bottom: 10px;
          }

          .title--main {
            max-width: 735px;
            font-family: "Bitter";
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 0.01em;
            color: #23262d;
          }
        }

        .header__rating {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 900;
          font-size: 80px;
          line-height: 96px;
          text-align: right;
          color: #c4cacf;
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: #f3f4f5;
            position: absolute;
            z-index: -1;
            transform: translate(30px, -7px);
          }
        }
      }

      .main__body {
      }

      .slide__lesson {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;

        .slide__box {
          display: flex;
          align-items: center;

          button.prev__button {
            width: 63px;
            height: 55px;
            background: url(../../../../assets/arrowLeft.svg);
            background-repeat: no-repeat;
            background-position: 100% 52%;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
              background: url(../../../../assets/arrowCircle.svg);
              transform: rotate(180deg);
            }
          }

          button.next__button {
            width: 63px;
            height: 55px;
            background: url(../../../../assets/arrowLeft.svg);
            transform: rotate(180deg);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
              background: url(../../../../assets/arrowCircle.svg);
              transform: rotate(0);
            }
          }

          p.box__text {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #23262d;

            &:last-child {
              margin-left: 20px;
            }

            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1229px) {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: unset;

    .header__banner {
      display: none;
    }

    .content__sidebar {
      max-width: unset;
      width: 100%;
    }
  }
}
