@import "../../assets/styles/global";

.nav__box.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 9px;
  z-index: 100;
  box-shadow: 0px 3px 23px rgb(0 0 0 / 7%);
  background: #fff !important;
  transition: 0.3s ease-in-out all;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  background: transparent;

  .navbar__logo {
    width: 105px;
    z-index: 10;

    svg {
      width: 100%;

      path:first-child {
        fill: $red-color;
      }

      path:nth-of-type(2) {
        fill: $white-color;
      }

      path:last-child {
        fill: $black-color;
      }
    }
  }

  .navbar__menu {
    z-index: 15;

    .menu {
      display: flex;
      align-items: center;
      list-style: none;

      .menu__item {
        margin-left: 50px;

        a {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          color: $black-color;
          text-decoration: none;
          transition: 0.1s;

          &:hover {
            color: $red-color;
          }
        }
      }

      .menu__item--lng {
        .item__lng {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            padding: 3px 6px 4px 7px;
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: $black-color;
            border: none;
            background: $white-color;
            border: 2px solid $border-color;
            cursor: pointer;

            &:first-child {
              border-radius: 6px 0px 0px 6px;
            }

            &:last-child {
              border-radius: 0px 6px 6px 0px;
            }

            &:disabled {
              cursor: auto;
            }

            &.lng__button--active {
              color: $white-color;
              padding: 5px 8px 6px 9px;
              background: $red-color;
              border: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: $maxWidthTablet) {
    .navbar__logo {
      width: 86px;
      z-index: 0;
    }

    .navbar__menu {
      .menu {
        .menu__item {
          margin-left: 20px;

          a {
            font-size: 14px;
            line-height: 19px;
          }
        }

        .menu__item--lng {
          margin-left: 50px;
        }
      }
    }
  }
}

.navbar__mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  max-width: 290px;
  margin: auto;

  .navbar__logo {
    width: 71px;
    z-index: 0;

    svg {
      width: 100%;

      path:first-child {
        fill: $red-color;
      }

      path:nth-of-type(2) {
        fill: $white-color;
      }

      path:last-child {
        fill: $black-color;
      }
    }
  }

  .item__lng {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 1px 6px 3px 6px;
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $black-color;
      border: none;
      background: $white-color;
      border: 2px solid $border-color;
      cursor: pointer;

      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }

      &:last-child {
        border-radius: 0px 4px 4px 0px;
      }

      &.lng__button--active {
        color: $white-color;
        padding: 3px 8px 5px 9px;
        background: $red-color;
        border: none;
      }
    }
  }

  .navbar__collapse {
    width: 34px;
    height: 34px;
    background: $red-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .collapse__icon {
      font-size: 22px;
      color: $white-color;
    }
  }
}

.navbar__mobile--modal {
  position: fixed;
  background: $white-color;
  top: 0;
  right: 0;
  left: 0;
  z-index: 40;
  transition: all 0.4s ease-out;
  border-radius: 0px 0px 10px 10px;

  .modal__header {
    display: flex;
    max-width: 290px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 14px 0;
    margin: auto;
    border-bottom: 1px solid $border-color;

    .navbar__logo {
      width: 71px;
      z-index: 0;

      svg {
        width: 100%;

        path:first-child {
          fill: $red-color;
        }

        path:nth-of-type(2) {
          fill: $white-color;
        }

        path:last-child {
          fill: $black-color;
        }
      }
    }

    .item__lng {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 1px 6px 3px 6px;
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $black-color;
        border: none;
        background: $white-color;
        border: 2px solid $border-color;
        cursor: pointer;

        &:first-child {
          border-radius: 4px 0px 0px 4px;
        }

        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }

        &.lng__button--active {
          color: $white-color;
          padding: 3px 8px 5px 9px;
          background: $red-color;
          border: none;
        }
      }
    }

    .navbar__collapse {
      width: 34px;
      height: 34px;
      background: $red-color;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .collapse__icon {
        transition: all 0.8s ease-in-out;
        transform: rotate(0deg);
        font-size: 28px;
        color: $white-color;
      }
    }
  }

  .modal__body {
    padding: 20px 0 20px;

    .body__menu {
      display: flex;
      flex-direction: column;
      list-style: none;

      .menu_item {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        transition: 0.1s all;

        a {
          max-width: 290px;
          display: block;
          width: 100%;
          padding: 6px 0 10px;
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: $black-color;
          text-decoration: none;
        }

        &.active {
          background: $red-color;

          a {
            color: $white-color;
          }
        }
      }
    }
  }

  .modal__footer {
    max-width: 290px;
    padding: 28px 0;
    margin: auto;
    border-top: 1px solid $border-color;

    .footer__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      .menu__item {
        a {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: $black-color;
          text-decoration: none;
          transition: 0.1s;
        }

        &:hover {
          a {
            color: $red-color;
          }
        }
      }
    }
  }

  &.closed {
    top: -410px;

    .modal__header .navbar__collapse .collapse__icon {
      transform: rotate(225deg);
    }
  }
}

.modal__background.open {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba($color: $black-color, $alpha: 0.8);
  z-index: 19;
}
