.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  background: transparent;

  .navbar__logo {
    width: 105px;
    z-index: 0;

    img {
      width: 100%;
      display: block;
    }
  }

  .navbar__menu {
    z-index: 0;

    .menu {
      display: flex;
      align-items: center;
      list-style: none;

      .menu__item {
        margin-left: 50px;

        a {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          color: #23262d;
          text-decoration: none;
          transition: 0.1s;

          &:hover {
            color: #e36f59;
          }
        }
      }

      .menu__item--lng {
        .item__lng {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            padding: 3px 6px 4px 7px;
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #23262d;
            border: none;
            background: #fff;
            border: 2px solid #e2e7eb;
            cursor: pointer;

            &:first-child {
              border-radius: 6px 0px 0px 6px;
            }

            &:last-child {
              border-radius: 0px 6px 6px 0px;
            }

            &.lng__button--active {
              color: #fff;
              padding: 5px 8px 6px 9px;
              background: #e36f59;
              border: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1229px) {
    .navbar__logo {
      width: 86px;
      z-index: 0;
    }

    .navbar__menu {
      .menu {
        .menu__item {
          margin-left: 20px;

          a {
            font-size: 14px;
            line-height: 19px;
          }
        }

        .menu__item--lng {
          margin-left: 50px;
        }
      }
    }
  }
}

.navbar__bg {
  .navbar__accordion {
    padding: 22px 0;
    position: relative;

    .accordion {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      border: none;

      #accordion__button {
        display: grid;
        grid-template-columns: 2fr 1fr;
        flex-direction: row;
        min-height: unset;
        height: 100%;
        background: transparent;
        padding: 0;

        .button__content {
          display: flex;
          justify-content: space-between;
          flex-grow: 1;

          .navbar__logo {
            display: block;
            width: 71px;
            z-index: 0;

            img {
              width: 100%;
              display: block;
            }
          }

          .item__lng {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              padding: 1px 6px 3px 6px;
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              color: #23262d;
              border: none;
              background: #fff;
              border: 2px solid #e2e7eb;
              cursor: pointer;

              &:first-child {
                border-radius: 4px 0px 0px 4px;
              }

              &:last-child {
                border-radius: 0px 4px 4px 0px;
              }

              &.lng__button--active {
                color: #fff;
                padding: 3px 8px 5px 9px;
                background: #e36f59;
                border: none;
              }
            }
          }
        }
      }
    }
  }

  &.open {
    background: #fff;
  }
}
