.programming__img2 {
  .img__container {
    width: 440px;
    height: 269px;
    position: relative;

    .layer {
      width: 100%;
      height: 269px;
      position: absolute;
    }

    .prog2Screws1 {
      width: 137px;
      height: 120.6px;
      margin-top: 0px;
      margin-left: 287px;
    }

    .prog2Screws2 {
      width: 107px;
      height: 105px;
      margin-top: 151px;
      margin-left: 25px;
    }

    .prog2JSC {
      width: 91px;
      height: 101.5px;
      margin-top: 18px;
      margin-left: 21.6px;
    }

    .prog2Angular {
      width: 71px;
      height: 86px;
      margin-top: 7.6px;
      margin-left: 179px;
    }

    .prog2Screen {
      width: 184px;
      height: 107px;
      margin-top: 73.5px;
      margin-left: 199.7px;
      background: #263238;
    }

    .prog2React {
      width: 68.5px;
      height: 63.3px;
      margin-top: 154px;
      margin-left: 362px;
    }

    .prog2Laptop {
      width: 228.5px;
      height: 141.5px;
      margin-top: 127px;
      margin-left: 89px;
    }

    .prog2Vector {
      width: 440px;
      height: 0.5px;
      margin-top: 268.4px;
      margin-left: 0px;
      background: #263238;
    }

    .prog2Woman {
      width: 78px;
      height: 101px;
      margin-top: 167.5px;
      margin-left: 322px;
    }

    .prog2Man {
      width: 88px;
      height: 153.4px;
      margin-top: 27px;
      margin-left: 78px;
    }

    .prog2Plant1 {
      width: 42px;
      height: 85px;
      margin-top: 184px;
      margin-left: 5.8px;
    }

    .prog2Plant2 {
      width: 22px;
      height: 30px;
      margin-top: 238.6px;
      margin-left: 404.5px;
    }
  }

  @media (max-width: 1697px) {
    .img__container {
      width: 342px;
      height: 209px;
      position: relative;

      .layer {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
}
