.programming__img2 {
  .img__container {
    width: 342px;
    height: 209px;
    position: relative;

    .layer {
      width: 100%;
      height: 100%;
      position: absolute;

      .prog2Screws1 {
        width: 106.4px;
        height: 93.8px;
        margin-top: 0px;
        margin-left: 223.2px;
      }

      .prog2Screws2 {
        width: 83px;
        height: 81.5px;
        margin-top: 117.2px;
        margin-left: 19.2px;
      }

      .prog2JSC {
        width: 70.7px;
        height: 79px;
        margin-top: 14px;
        margin-left: 16.8px;
      }

      .prog2Angular {
        width: 55px;
        height: 66.7px;
        margin-top: 6px;
        margin-left: 139px;
      }

      .prog2Screen {
        width: 143.8px;
        height: 83.4px;
        margin-top: 57px;
        margin-left: 155.2px;
        background: #263238;
      }

      .prog2React {
        width: 53px;
        height: 49.4px;
        margin-top: 119.6px;
        margin-left: 281.2px;
      }

      .prog2Laptop {
        width: 177.6px;
        height: 110px;
        margin-top: 98.7px;
        margin-left: 69.3px;
      }

      .prog2Vector {
        width: 342px;
        height: 0.3px;
        margin-top: 208.6px;
        margin-left: 0px;
        background: #263238;
      }

      .prog2Woman {
        width: 60.5px;
        height: 78.8px;
        margin-top: 130.2px;
        margin-left: 250.3px;
      }

      .prog2Man {
        width: 68.3px;
        height: 119.3px;
        margin-top: 21px;
        margin-left: 60.7px;
      }

      .prog2Plant1 {
        width: 33px;
        height: 66.2px;
        margin-top: 143px;
        margin-left: 4.5px;
      }

      .prog2Plant2 {
        width: 17px;
        height: 23.3px;
        margin-top: 185.5px;
        margin-left: 314.4px;
      }
    }
  }

  @media (max-width: 1919px) {
    .img__container {
      width: 440px;
      height: 269px;
      position: relative;

      .layer {
        width: 100%;
        height: 269px;
        position: absolute;
        
        .prog2Screws1 {
          width: 137px;
          height: 120.6px;
          margin-top: 0px;
          margin-left: 287px;
        }
  
        .prog2Screws2 {
          width: 107px;
          height: 105px;
          margin-top: 151px;
          margin-left: 25px;
        }
  
        .prog2JSC {
          width: 91px;
          height: 101.5px;
          margin-top: 18px;
          margin-left: 21.6px;
        }
  
        .prog2Angular {
          width: 71px;
          height: 86px;
          margin-top: 7.6px;
          margin-left: 179px;
        }
  
        .prog2Screen {
          width: 184px;
          height: 107px;
          margin-top: 73.5px;
          margin-left: 199.7px;
          background: #263238;
        }
  
        .prog2React {
          width: 68.5px;
          height: 63.3px;
          margin-top: 154px;
          margin-left: 362px;
        }
  
        .prog2Laptop {
          width: 228.5px;
          height: 141.5px;
          margin-top: 127px;
          margin-left: 89px;
        }
  
        .prog2Vector {
          width: 440px;
          height: 0.5px;
          margin-top: 268.4px;
          margin-left: 0px;
          background: #263238;
        }
  
        .prog2Woman {
          width: 78px;
          height: 101px;
          margin-top: 167.5px;
          margin-left: 322px;
        }
  
        .prog2Man {
          width: 88px;
          height: 153.4px;
          margin-top: 27px;
          margin-left: 78px;
        }
  
        .prog2Plant1 {
          width: 42px;
          height: 85px;
          margin-top: 184px;
          margin-left: 5.8px;
        }
  
        .prog2Plant2 {
          width: 22px;
          height: 30px;
          margin-top: 238.6px;
          margin-left: 404.5px;
        }
      }

    }
  }

  @media (max-width: 1229px) {
    .img__container {
      width: 211px;
      height: 129px;
      position: relative;

      .layer {
        width: 100%;
        height: 129px;
        position: absolute;

        .prog2Screws1 {
          width: 65.6px;
          height: 57.9px;
          margin-top: 0px;
          margin-left: 137.7px;
        }

        .prog2Screws2 {
          width: 51.2px;
          height: 50.3px;
          margin-top: 72.3px;
          margin-left: 11.9px;
        }

        .prog2JSC {
          width: 43.6px;
          height: 48.7px;
          margin-top: 8.6px;
          margin-left: 10.4px;
        }

        .prog2Angular {
          width: 34px;
          height: 41.2px;
          margin-top: 3.7px;
          margin-left: 85.9px;
        }

        .prog2Screen {
          width: 88.1px;
          height: 51.4px;
          margin-top: 35.2px;
          margin-left: 95.7px;
        }

        .prog2React {
          width: 32.8px;
          height: 30.5px;
          margin-top: 73.8px;
          margin-left: 173.5px;
        }

        .prog2Laptop {
          width: 109.6px;
          height: 68px;
          margin-top: 60.9px;
          margin-left: 42.7px;
        }

        .prog2Vector {
          width: 211px;
          height: 0.23px;
          margin-top: 128.8px;
          margin-left: 0px;
          background: #263238;
        }

        .prog2Woman {
          width: 37.35px;
          height: 48.6px;
          margin-top: 80.4px;
          margin-left: 154.4px;
        }

        .prog2Man {
          width: 42.2px;
          height: 73.6px;
          margin-top: 13px;
          margin-left: 37.5px;
        }

        .prog2Plant1 {
          width: 20.3px;
          height: 40.9px;
          margin-top: 88.3px;
          margin-left: 2.8px;
        }

        .prog2Plant2 {
          width: 10.5px;
          height: 14.4px;
          margin-top: 114.5px;
          margin-left: 314.4px;
        }
      }
    }
  }
}
